@{
    Layout="_Layout";
    ViewData["Title"] = "Index";
}

<p>@Html.ActionLink("Register", "Register")</p>
<p>@Html.ActionLink("Login", "Login")</p>
<p>@Html.ActionLink("Posts", "Index","Post")</p>


